
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;     
    width: auto;             
    padding: 20px;
}


header h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.input-container {
    margin-bottom: 20px;
    text-align: center;
}

.input-container input {
    padding: 12px 16px;
    font-size: 18px;
    width: 250px;
    border: 2px solid #d3d6da;
    border-radius: 8px;
    transition: border 0.2s;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
    width: 100%;
}

.labelRow, .tileRow {
    display: flex;
    gap: 12px;
    justify-content: center;  
}

.labelRow .label {
    font-weight: bold;
    color: black;
    width: 90px;
    text-align: center;
}

.tile {
    width: 90px;
    height: 90px;
    border: 2px solid #d3d6da;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transition: all 0.15s ease;
}

.tile-name, .tile-type1, .tile-type2, .tile-gen, .tile-bst, .tile-dex {
    font-size: 15px;
    text-align: center;
}

/* Tile states */

.tile.green {
    background-color: #6aaa64;
    border-color: #6aaa64;
    color: white;
}

.tile.yellow {
    background-color: #c9b458;
    border-color: #c9b458;
    color: white;
}

.tile.red {
    background-color: hsl(0, 74%, 58%);
    border-color: hsl(0, 74%, 58%);
    color: white;
}

@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.playAgain{
    width: 120px;
    height: 40px;
    background-color: hsl(0, 74%, 58%);
    color:white;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #6e6e6e;
    margin-top: 20px;
}

.win {
    position: absolute;
    width: 1500px;
    height: 100px;
    border: 1px solid black;
    padding: 150px;
    margin: auto;
    background-color:hsl(0, 100%, 58%);
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    font-size: 80px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 10px hsl(0, 0%, 83%), 0 0 20px #a3b5ff;
   
}
.lineUp {
  animation: 2s anim-lineUp ease-out infinite;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(-50%, calc(-50% + 80%));
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%, -50%);
  }
}