html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
}

.app-container {
  height: 100%;
  width: 100%;      
  display: flex;
  flex-direction: column;
}
.top {
  background-color: red;
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.top h1 {
  color: white;
  font-size: 90px;
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

.bottom {
  background-color: white;
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonsStack {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
